<div class="scormDataInfo-inner">
	<div>{{#if scormModel.connected}}Connected to LMS{{else}}Not connected to LMS{{/if}}</div>
	<div>Student Name: {{scormModel.studentName}}</div>
	<div>Lesson Status: {{scormModel.lessonStatus}}</div>
	<div>Assignment Score: {{scormModel.assessmentScore}}</div>
	<div>Session Duration: {{scormModel.time.sessionDuration}}</div>
	<div>Total Duration: {{scormModel.time.totalDuration}}</div>
</div>